/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PALETA */
:root {
  --bordeaux: #53161D;
  --indigo: #212842;
  --ivory: #FFFBF0;
  --vanilla: #F0E7D5;
}

/* BODY */
body {
  height: 100vh;
  background: linear-gradient(135deg, #0f1325, var(--indigo));
  font-family: 'Segoe UI', sans-serif;
  color: var(--ivory);
}

/* LAYOUT */
.layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  background: var(--bordeaux);
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h1 {
  font-size: 28px;
  letter-spacing: 2px;
}

.nav-item {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: transparent;
  border: none;
  color: var(--vanilla);
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  border-left: 3px solid transparent;
}

.nav-item:hover {
  padding-left: 18px;
}

.nav-item.active {
  border-left: 3px solid var(--ivory);
  font-weight: bold;
}

/* CONTENT */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

/* CARD */
.card {
  display: none;
  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 50px;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.card.active {
  display: block;
}

/* TEXTOS */
.card h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.card p {
  color: var(--vanilla);
  margin-bottom: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* TIMER */
.timer {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.timer div {
  padding: 15px;
  min-width: 70px;
}

.timer b {
  font-size: 50px;
  display: block;
}

.timer span {
  font-size: 14px;
  color: var(--vanilla);
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .sidebar {
    flex-direction: row;
    align-items: center;
  }

  nav {
    display: flex;
    gap: 10px;
  }

  .content {
    padding: 20px;
  }
}